{% extends 'base.html' %}

{% block title %} Contact {% endblock %}

{% block content%}
<div id="contactform">
    <h2>Contact Form</h2>
    <form action="/contact" method="POST">
        <p><input type="text" name="name" placeholder="Name" /></p>
        <p><input type="text" name="email" placeholder="Your email" /></p>
        <p><input type="text" name="message" placeholder="What do you wanna say?" /></p>
        <p><input type="submit" value="submit" /></p>

    </form>
</div>
{% endblock %}