{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content%}
<div id="scrollbox">
  <div class="videocontainer">
    <div id="video-placeholder"></div>
    <script src="https://www.youtube.com/iframe_api"></script>
  </div>
  <div id="textcontainer">
    <div id="arrow">&#x2193</div>
    <h1>MUSIC VIDEO PRODUCTION SERVICES</h1>
    <p>It’s not all about professional music videos, we offer an end-to-service and will expertly guide you from concept
      and strategy, through production and into video activation. Our team of writers, film-makers, art directors and
      editors push the boundaries of music video production to create visually stunning content.</p>
    <p>We're a music video company based in Berlin producing fantastic music videos and
      content for major record labels, upcoming artists and global brands. We work with budgets of all sizes, and we’d
      love to work with you! Get it touch and let’s talk about your next music video.</p>
    <div id="socials">
      <div class="icon"><a href="https://www.facebook.com/profile.php?id=100009846376259" class="fa fa-facebook"></a>
      </div>
      <div class="icon"><a
          href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjr24r5sbH3AhXiSPEDHbD4D_gQFnoECAUQAQ&url=https%3A%2F%2Fde.linkedin.com%2Fin%2Fkacper-wissuwa-9895421a3&usg=AOvVaw0nQKlo-J1aEcv0UTf2EYx_"
          class="fa fa-linkedin"></a>
      </div>
      <div class="icon"><a href="https://www.instagram.com/mcmakrela/" class="fa fa-instagram"></a>
      </div>
      <div class="icon"><a href="https://www.youtube.com/channel/UC1yQRMebkcNVnX_v5mSw0Gw" class="fa fa-youtube"></a>
      </div>
    </div>
    <button type="button" onclick="getElementById('logo').style.color = 'red'">Click Me for a suprise</button>
  </div>

  {% endblock %}